[submodule "animate-ui-materials"]
	path = source/animate-ui-materials
	url = https://github.com/hamzsavai-crypto/ANIMATe.git
[submodule "physics-sims"]
	path = source/physics-sims
	url = https://github.com/hamzsavai-crypto/VPL.git
